{% extends 'base.html' %}
{% load static %}
{% block content%}

  <!-- Title -->
  <section id="title" class="gradient-background">
    <img src="{% static 'images/man-utd-logo.png' %}" alt="Manchester United Logo" class="club-logo">
    <h1>Manchester United</h1>
    <p>The Red Devils</p>
      <a href="{% url 'club:learn-more' %}">
        <button>Learn more</button>
      </a>
  </section>

  <!-- Gallery -->
  <section id="gallery">
    <h2>Gallery</h2>
    <div class="gallery-container">
      <img src="{% static 'images/old-trafford.jpg' %}" alt="Old Trafford">
      <img src="{% static 'images/man-utd-team.jpg'%}" alt="Manchester United Team">
      <img src="{% static 'images/trophy.jpg' %}" alt="Trophies">
    </div>
  </section>

{% endblock %}